body {
  font-family:Arial, sans-serif;
  color:#ffffff;
  max-width: 1280px;
  background-color: #1B90DD;
  padding: 55px 55px 55px 55px;
  background-image: url('assets/background.png');
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 350px;
}

.center-h1 {
  text-align: center;
}

.man {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: auto;
  height: 450px;
}

a {
  color:#ffffff;
  font-size: 30pt;
}

h1 {
  color: #ffffff;
  font-style: normal;
  font-size: 48pt;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}